process {
    executor = 'lsf'
    
    withName: 'processCellSNP' {
        cpus = 25
        memory = '8 GB'
        
        clusterOptions = """
            -q large_mem 
            -P ${params.project_name} 
            -n 25 
            -R "rusage[mem=8000] span[hosts=1]"
        """
    }
}