params {
    // Tool paths
    cellsnp = "/research/groups/mackgrp/home/common/Software/miniconda3/envs/cellsnp/bin/cellsnp-lite"
    vcfdb = "/research/groups/mackgrp/home/common/Software/1000G/hg38/genome1K.phase3.SNP_AF5e2.chr1toX.hg38.vcf.gz"
    
    // Output
    output_base = "/research/groups/mackgrp/home/common/Analysis/Project_PrimaryRelapse/snatac/out_cellsnps"
    
    // Parameters
    minMAF = 0
    minCOUNT = 2
}

process {
    executor = 'lsf'
    memory = '18 GB'
    cpus = 10
    
    clusterOptions = "-q large_mem -n ${task.cpus} -R \"rusage[mem=${task.memory.toMega()}] span[hosts=1]\""
}