params {
    // Tool paths
    cellsnp = "/research/groups/mackgrp/home/common/Software/miniconda3/envs/cellsnp/bin/cellsnp-lite"
    vcfdb = "/research/groups/mackgrp/home/common/Software/1000G/hg38/genome1K.phase3.SNP_AF5e2.chr1toX.hg38.vcf.gz"

    // input
    input_tsv: "samples.tsv"
    // output
    output_base: "out_cellsnps"

    // cellsnp-lite parameters
    threads: 10

    seq = [
        snRNA: [ aliases: ["snRNA", "scRNA"], celltag: "CB", umitag: "UB", minMaf: 0.1, minCount: 20 ],
        snATAC: [ aliases: ["snATAC", "scATAC"], celltag: "CB", umitag: "None", minMaf: 0.05, minCount: 2 ]
    ]

}

process {
    executor = 'lsf'
    clusterOptions = '-q large_mem -n 2 -R "rusage[mem=20000] span[hosts=1]"'
}

