process {
    executor = 'lsf'

    queue = 'large_mem'

    clusterOptions = { task ->
        """
        -P ${task.process}
        -J ${task.process}
        -n ${task.cpus}
        -R "rusage[mem=${task.memory.toGiga()}000] span[hosts=1]"
        """
    }

    errorStrategy = 'retry'
    maxRetries = 2
}

executor {
    name = 'lsf'
    submitRateLimit = '10 sec'
}

trace.enabled = true
timeline.enabled = true
report.enabled = true
